/* desain untuk web menggunakan styles.css */

body {
    background: url('timbangan.jpg') no-repeat fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

.banner, .banner h1, .banner p {
    background-color: #4CAF50; /* warna hijau*/
    margin: 0;
    padding: 10px;
}

.banner {
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.banner h1 {
    text-align: left;
    font-size: 24px;
}

.banner p {
    text-align: right;
}

.content {
    background-color: rgba(255, 255, 255, 0.9); /* untuk opasiti  */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}